//Imports
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap'); //"IM Fell DW Pica", serif;

//CSS Reset
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

//Configs
$app-background: #21334F;
$gap: 15px;
$padding: 15px;
$padding-small: 10px;

$font-number: "Poppins", sans-serif;

$ui-grey: #444444;
$ui-block-background: rgba(0, 0, 0);
$ui-block-border: 1px solid rgba(211, 211, 211, 0.548);
$ui-block-radius: 5px;
$ui-backdrop-filter: blur(5px);
$ui-text-color: white;
$ui-green: #3dc229;
$ui-blue: #3FD9F8;

$text-accent: $ui-blue;

//Mixins

@mixin bg-blur {
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

@mixin ui-block {
    background: $ui-block-background;
    border: $ui-block-border;
    border-radius: $ui-block-radius;
    backdrop-filter: $ui-backdrop-filter;
    -webkit-backdrop-filter: $ui-backdrop-filter;
    color: $ui-text-color;
    position: relative;
}

@mixin ui-header{
    color: $text-accent;
    text-transform: capitalize;
    position: absolute;
    display: inline-block;
}

//Breakpoints
$breakpoints: (
  mobile: 500px,
  tablet: 768px,
  desktop: 1024px
);

// Mixin to handle media queries
@mixin media($breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
  
    @if $breakpoint-value {
      @media (max-width: $breakpoint-value) {
        @content;
      }
    } @else {
      @warn "Breakpoint #{$breakpoint} not found in map.";
    }
  }

  //General CSS
span[class="number"]{
  font-family: $font-number;
}