.search-modal-container{
    @include bg-blur;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    
    .search-modal{
        @include ui-block;
        padding: $padding;
        height: 80%;
        width: 95%;
        max-height: 900px;
        max-width: 700px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: $gap;

        header{
            padding: $padding;
            padding-top: 60px;
            position: sticky;
            top: 0;
            width: 100%;
            z-index: 1;

            ion-icon{
                position: absolute;
                right: 10px;
                top: 10px;
                color: white;
                font-size: 30px;
    
                &:hover{
                    cursor: pointer;
                    color: $ui-blue;
                }
            }
    
            .searchbar-container{
                position: sticky;
                top: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                .searchbar-wrapper{
                    width: 100%;
                    position: relative;
                }
                label{
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: $padding;
                    font-size: 20px;
                    transform: translateY(-50%);
                    text-transform: capitalize;
                    color: $ui-grey;
                    transition: all .2s ease;
                    pointer-events: none;
                    user-select: none;
                }
                input{
                    @include ui-block;
                    background: transparent;
                    width: 100%;
                    padding: $padding;
                    font-size: 20px;
                    &:not(:placeholder-shown), &:focus{
                        border-color: $ui-blue;
                        +label{
                            color: $ui-blue;
                            font-size: 16px;
                            top: 0;
                            transform: translateY(-50%);
                            background: $ui-block-background;
                            padding: 0px 5px;
                        }
                    }
                }
            }
        }
    }

    .results-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $gap;
        overflow-y: scroll;
        padding: $padding;
        .result{
            padding: calc($padding / 2);
            @include ui-block;
            min-height: 60px;
            width: 100%;
            display: flex;
            align-items: center;
            gap: $gap;
            &:hover{
                cursor: pointer;
                border-color: $ui-blue;
            }
            .icon{
                height: auto;
                width: 30px;
            }
        }
    }
}