@import "./config.scss";

.search-modal-container{
    @include bg-blur;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    
    .search-modal{
        @include ui-block;
        padding: $padding;
        height: 80%;
        width: 95%;
        max-height: 900px;
        max-width: 700px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: $gap;

        header{
            padding: $padding;
            padding-top: 60px;
            position: sticky;
            top: 0;
            width: 100%;
            z-index: 1;

            ion-icon{
                position: absolute;
                right: 10px;
                top: 10px;
                color: white;
                font-size: 30px;
    
                &:hover{
                    cursor: pointer;
                    color: $ui-blue;
                }
            }
    
            .searchbar-container{
                position: sticky;
                top: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                .searchbar-wrapper{
                    width: 100%;
                    position: relative;
                }
                label{
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: $padding;
                    font-size: 20px;
                    transform: translateY(-50%);
                    text-transform: capitalize;
                    color: $ui-grey;
                    transition: all .2s ease;
                    pointer-events: none;
                    user-select: none;
                }
                input{
                    @include ui-block;
                    background: transparent;
                    width: 100%;
                    padding: $padding;
                    font-size: 20px;
                    &:not(:placeholder-shown), &:focus{
                        border-color: $ui-blue;
                        +label{
                            color: $ui-blue;
                            font-size: 16px;
                            top: 0;
                            transform: translateY(-50%);
                            background: $ui-block-background;
                            padding: 0px 5px;
                        }
                    }
                }
            }
        }
    }

    .results-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $gap;
        overflow-y: scroll;
        padding: $padding;
        .result{
            padding: $padding-small;
            @include ui-block;
            width: 100%;
            display: flex;
            align-items: center;
            gap: $gap;
            &:hover{
                cursor: pointer;
                border-color: $ui-blue;
            }
            >*{
                pointer-events: none;
            }
            .basic-info{
                display: flex;
                gap: $gap;
                @include ui-block;
                padding: $padding-small;
                flex-basis: 50%;
                .icon{
                    height: auto;
                    width: 75px;
                    .rarity{
                        text-align: center;
                        span{
                            font-size: 13px;
                        }
                    }
                }
                .column{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: 10px;
                    .name{
                        max-width: 200px;
                    }
                    .sharpness{
                        max-width: 75px;
                        border: 2px solid $ui-grey;
                        height: 10px;
                        width: 100%;
                        display: flex;
                        //background: linear-gradient(90deg, rgba(255,154,0,1) 0%, rgba(255,248,0,1) 25%, rgba(0,255,98,1) 50%, rgba(0,65,255,1) 75%, rgba(244,0,255,1) 100%);
                        .block{
                            height: 100%;
                        }
                    }
                    .decorations{
                        display: flex;
                        gap: 5px;
                        img{
                            height: auto;
                            max-width: 30px;
                        }
                    }
                }
            }
            .stats{
                @include ui-block;
                height: 100%;
                flex-basis: 50%;
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                padding: $padding-small;
                .stat{
                    width: 40px;
                    height: 60px;
                    @include ui-block;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    overflow: hidden;
                    .stat-icon{
                        flex-basis: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: auto;
                        width: 100%;
                        background: rgb(34, 34, 34);
                        img{
                            width: 30px;
                        }
                    }
                    .stat-value{
                        flex-basis: 50%;
                        font-size: 16px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}