#app{
  background: $app-background;
  min-height: 100dvh;
  .builder-container{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: $gap;
  
    //STYLES FOR TABS/MOBILE
    &.mobile{
      grid-template-columns: 1fr;
      gap: unset;
      .tabulation-container{
        display: flex;
      }
      > article{
        &.hidden{
          display: none;
        }
      }
    }
    
    //REGULAR STYLES
    .tabulation-container{
      display: none;
      border-bottom: 5px solid $ui-grey;
      margin-bottom: $gap;
      height: 50px;
      //border: 1px solid white;
      gap: $gap;
      position: sticky;
      top: 0;
      pointer-events: none;
      .tab{
        @include ui-block;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        text-transform: capitalize;
        border-radius: 5px 5px 0px 0px;
        border-color: $ui-grey;
        pointer-events: all;
        &::after{
          content: '';
          position: absolute;
          bottom: -5px;
          height: 5px;
          width: 0;
          background: $text-accent;
          transition: all .2s ease;
        }
        &:hover{
          cursor: pointer;
        }
        &.active{
          border-color: $ui-grey;
          &::after{
            width: 100%;
          }
        }
        h3{
          pointer-events: none;
        }
      }
    }
    > article{
      //border: 1px solid white;
      min-height: 100px;
      > div{
        @include ui-block;
      }

      &.skills-container{
        .skills{
          height: 100%;
        }
      }
      &.equipment-container{
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        gap: $gap;
        border: unset;
        padding-left: unset;
        padding-right: unset;
        .item{
          min-height: 125px;
          display: flex;
          gap: $gap;
          &.weapon-container{
            padding: $padding;
            >div{
              flex-basis: 25%;
              min-height: 100px;
            }
            .weapon{
              min-width: 50px;
              @include ui-block;
            }
            .decorations{
              display: flex;
              flex-direction: column;
              gap: $gap;
              .decoration{
                min-height: 35px;
                width: 100%;
                @include ui-block;
              }
            }
            .augmentations{
              @include ui-block;
              h3{
                @include ui-header;
                left: 50%;
                transform: translate(-50%, -50%);
                background: $ui-block-background;
              }
            }
            .awakenings{
              @include ui-block;
              h3{
                transform: translateY(-50%);
                @include ui-header;
                left: 50%;
                transform: translate(-50%, -50%);
                background: $ui-block-background;
              }
            }
            @media screen and (max-width: 920px) {
              flex-direction: column;
              > div{
                flex-basis: unset;
              }
            }
          }
        }
      }
      &.status-container{
        .status{
          height: 100%;
        }
      }
    }
  }
}