//Imports
@import "./modal.scss";

#app{
  background: $app-background;
  min-height: 100dvh;
  .builder-container{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: $gap;
  
    //STYLES FOR TABS/MOBILE
    &.mobile{
      grid-template-columns: 1fr;
      gap: unset;
      .tabulation-container{
        display: flex;
      }
      > article{
        &.hidden{
          display: none;
        }
      }
    }
    
    //REGULAR STYLES
    .tabulation-container{
      display: none;
      border-bottom: 5px solid $ui-grey;
      margin-bottom: $gap;
      height: 50px;
      //border: 1px solid white;
      gap: $gap;
      position: sticky;
      top: 0;
      pointer-events: none;
      .tab{
        @include ui-block;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        text-transform: capitalize;
        border-radius: 5px 5px 0px 0px;
        border-color: $ui-grey;
        pointer-events: all;
        &::after{
          content: '';
          position: absolute;
          bottom: -5px;
          height: 5px;
          width: 0;
          background: $text-accent;
          transition: all .2s ease;
        }
        &:hover{
          cursor: pointer;
        }
        &.active{
          border-color: $ui-grey;
          &::after{
            width: 100%;
          }
        }
        h3{
          pointer-events: none;
        }
      }
    }
    > article{
      //border: 1px solid white;
      min-height: 100px;
      > div{
        @include ui-block;
      }

      &.skills-container{
        .skills{
          height: 100%;
        }
      }
      &.equipment-container{
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        gap: $gap;
        border: unset;
        padding-left: unset;
        padding-right: unset;
        .block{
          min-height: 125px;
          display: flex;
          gap: $gap;
          justify-content: center;
          &.weapon-container{
            padding: $padding;
            >div{
              flex-basis: 25%;
              min-height: 100px;
            }
            .weapon{
              @include ui-block;
              display: flex;
              > div{
                padding: $padding;

                &.weapon-icon{
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  flex-basis: 20%;
                  .icon{
                    height: auto;
                    width: 100%;
                  }
                  .attack{
                    display: flex;
                    gap: 5px;
                    .icon{
                      height: 20px;
                      width: 20px;
                    }
                  }
                }
                &.weapon-info{
                  flex-basis: 80%;
                  .name{
                    display: -webkit-box;
                    line-clamp: 2;
                    -moz-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  }
                  .sharpness{
                    
                  }
                }
              }
              h3{
                @include ui-header;
                left: 50%;
                transform: translate(-50%, -50%);
                background: $ui-block-background;
                z-index: 1;
              }
            }
            .decorations{
              display: flex;
              flex-direction: column;
              gap: $gap;
              .decoration{
                min-height: 35px;
                width: 100%;
                @include ui-block;
              }
            }
            .augmentations{
              @include ui-block;
              h3{
                @include ui-header;
                left: 50%;
                transform: translate(-50%, -50%);
                background: $ui-block-background;
              }
            }
            .awakenings{
              @include ui-block;
              h3{
                transform: translateY(-50%);
                @include ui-header;
                left: 50%;
                transform: translate(-50%, -50%);
                background: $ui-block-background;
              }
            }
            @include media(tablet){
              flex-wrap: wrap;
              > div{
                flex-basis: calc(50% - $gap);
              }
            }
            @include media(mobile){
              >div{
                flex-basis: 100%;
              }
            }
          }
        }
      }
      &.status-container{
        .status{
          height: 100%;
        }
      }
    }
  }
}